* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

.window {
    gap: 50px;
}

.header-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    z-index: 100;
    top: 10px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    width: 100%;
    margin: 50px 0 10px 100px;
}

.movie-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-button {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    border: 1px solid red;
    color: red;
    font-weight: 700;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0 70px 0 70px;
}

.movie-name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.content {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.timing {
    padding: 10px;
    background-color: rgb(208, 239, 239);
    width: 100%;
}

.timing-buttons {
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    font-weight: 700;
    color: rgb(83, 75, 75);
    padding: 8px;
    margin-left: 10px;
}

.timing-buttons:active {
    background-color: green;
    color: white;
}

.timing-ctrl {
    margin-left: 80px;
}


/* seats */

.seat-selector {
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.seat-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 10px;
}

/* 1st part */

.seats-column {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.content-cls1 {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 4px;
    background-color: rgb(136, 135, 135);
    border-radius: 5px;
    gap: 20px;
}

/* 2nd part */

.seats-no {
    width: 100%;
    height: 100%;
    display: grid;
}

.ticket-price {
    text-align: center;
}

hr {
    border: 1px solid salmon;
}

.seating {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.chair {
    margin: auto;
}

hr {
    width: 90%;
    margin: auto;
}

.executive-seats1 {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(11, 20px);
    text-align: center;
    color: green;
    justify-content: space-between;
}

.executive-seats {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    text-align: center;
    color: green;
    justify-content: space-between;
    gap: 1px;
}

.prime-seats {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25px);
    text-align: center;
    color: green;
    justify-content: space-between;
    gap: 1px;
}

.budget-seats {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    text-align: center;
    color: green;
    justify-content: space-between;
    gap: 1px;
}

.seats {
    border: 2px solid green;
    padding: 2px;
    text-align: center;
}

.seat-divider {
    margin-left: 40px;
}

.seat-top {
    margin-top: 50px;
}

/* 3rd part */

.icons {
    position: relative;
    display: flex;
    justify-content: center;
}

.zoom {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 350px;
    gap: 20px;
}

/* footer */

.movie-screen {
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width:860px) {

    .content {
        font-size: 10px;
    }

    .movie-name {
        font-size: 16px;
        color: aqua;
    }
}

@media (max-width:480px) {
    .content {
        display: none;
    }

    .movie-name {
        font-size: 16px;
        color: aqua;
    }
}