body{
    background-color: rgb(200, 195, 195);
}

.cstm-cls{
    margin-top: 100px;
    height: 570px;
    width: 400px;
    border-radius: 20px;
}

.cstm-btn{
    width: 205px;
    border-radius: 10px;
    background-color: rgb(167, 162, 162);
}

.btns{
    border-radius: 5px;
}

.btns::placeholder{
    margin-left: 10px;
}

.last-btn{
    background-color: rgb(49, 48, 48)
}

.cls2{
    align-items: center;
    margin-top: 2px;
    gap: 2px;
}