*{
    scrollbar-width: none;
}

.video1{
    width: 250px;
    height: 250px;
}

.audio1{
    width: 200px;
    height: 200px;
}

.ben-image{
    width: 200px;
    height: 200px;
}

.box-img{
    width: 200px;
    height: 200px;
    background-color: pink;
    text-align: center;
}

.circle-img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: pink;
    text-align: center;
}