.input-forms{
    position: relative;
}

.input-forms input{
    padding: 20px;
}

.input-forms label{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.input-forms input:focus + label,
.input-forms input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    padding: 2px;
}

.input-forms input:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}
