* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.form-practice {
    padding: 30px;
}

.outer-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

.input-form {
    position: relative;
    margin-bottom: 20px;
}

.input-form input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid gray;
}

.input-form label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 2px;
    transition: 0.3s;
}

input:focus + label,
input:valid + label {
    top: 0;
    font-size: 12px;
}



/* TEXTAREA */
.text-area-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

/* SELECT */
select {
    width: 100%;
    padding: 10px;
}

/* CHECKBOX / RADIO */
.checks, .radios {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    flex: 1;
}

input:focus {
    border-color: blue;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

input:required {
    background-color: #f9f9f9;
}

input:checked {
    background-color: green;
}

input[type="email"] {
    background-color: #f0f8ff;
}

input[type="password"] {
    background-color: #fff0f5;
}