@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    scrollbar-width: none;
}

/* table {
    border: 1px solid blue;
    border-collapse: separate;
    padding: 5px;
    width: 80%;
    margin: auto;
    height: 40vh;
    margin-top: 200px;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

.asdf {
    color: black;
    padding: 10px;
    background-color: chartreuse;
} */


.child:first-line {
    color: rgb(42, 189, 189);
}

.child p:last-child {
    color: orange;
}

.child {
    width: calc(250px- 100%);
    background-color: aquamarine;
}

.child p {
    margin: 0;
}

