* {
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.head {
    color: crimson;
}

.nav-link {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: aqua;
}

ul {
    list-style: none;
}

header {
    display: flex;
    text-align: justify;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
}


.content1{
    color: aqua;
    flex: 1;
}

.content2{
    color: aqua;
    flex: 1;
}