.input-forms{
    position: relative;
}

.input-forms input{
    padding: 20px;
}

.input-forms label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.input-forms input:focus + label{
    
}